.loader_container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 3rem;
  perspective: 600px; 
}

.loader_img {
  width: 100px;
  animation: horizontal-flip 2s ease-in-out infinite;
  transform-style: preserve-3d;
}

@keyframes horizontal-flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg) scale(1.05); 
  }
  100% {
    transform: rotateY(360deg);
  }
}
.loader_text {
  margin-top: 20px;
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  color: #1b9b2d; /* vert inspiré du Plumbob */
  text-shadow: 0 0 8px rgba(0, 255, 0, 0.5);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
