/********COMPOSANT GENERIQUES********/
.random_container {
  display: flex;
  margin: 3rem 0;
  padding-bottom: 3rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: black 2px solid;
}

.random_button {
  cursor: pointer;
  background-color: #8bd877;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border: none;
  padding: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
}
.random_button:hover {
  transform: scale(1.01);
  box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.register_button {
  cursor: pointer;
  background-color: #f7f4ea;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border: none;
  padding: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 300;
}

.register_button:hover {
  transform: scale(1.01);
  box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.title_container {
  display: flex;
  gap: 5rem;
}

.random_textcontain {
  display: flex;
  justify-content: center;
  line-height: 2rem;
  margin: 2rem 0.5rem;
  border: 2px solid #02952b;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  background-color: #8bd877;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.548),
    rgba(255, 255, 255, 0)
  );
}

.random_textintro {
  display: flex;
  flex-direction: column;
  margin: 2rem 0.5rem;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.random_textintro p {
  margin: 0.5rem 0;
}

/******* COLOR ********/

.color_random {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
  margin: 1rem 0;
}

.color_random_name {
  font-weight: 700;
  text-transform: uppercase;
  width: 5rem;
}

.color_random_round {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px black solid;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

/******* TRAIT ********/

.traits_random {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 1rem 0;
  width: 100%;
}

.trait_random {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.trait_random_name {
  font-weight: bold;
  font-size: 0.7em;
}

.trait_random_image {
  width: 50px;
  height: 50px;
}
/******* ASPIRATION ********/

.aspiration_random {
  gap: 10px;
  margin: 1rem 0;
  width: 100%;
}

.aspiration_cat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8rem;
}

.aspiration_cat_img {
  max-height: 6.5rem;
}

.aspiration_name {
  font-weight: bold;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aspiration_img {
  max-height: 5rem;
}

.aspiration_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aspiration_textcontain {
  display: flex;
  justify-content: center;
  margin: 2rem 0.5rem;
  border: 2px solid #02952b;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  background-color: #8bd877;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.548),
    rgba(255, 255, 255, 0)
  );
}

/******* JOB ********/

.job_button {
  height: 3rem;
  cursor: pointer;
}

.job_random {
  gap: 10px;
  margin: 1rem 0;
  width: 100%;
}

.job_cat {
  display: flex;
  justify-content: space-around;
  min-height: 5rem;
}

.job_name {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job_img {
  height: 5rem;
}

.job_textcontain {
  display: flex;
  justify-content: center;
  line-height: 2rem;
  margin: 2rem 0.5rem;
  border: 2px solid #02952b;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  background-color: #8bd877;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.548),
    rgba(255, 255, 255, 0)
  );
}

/******* PREFERENCES/REPULSE ********/
.prefTu_container {
  display: flex;
  margin-top: 3rem;
}

.preferences_section,
.repulse_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preferences_random,
.repulsed_random {
  justify-content: center;
  display: flex;
  width: 45%;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.pref_random,
.repulse_random {
  min-width: 10rem;
  min-height: 11rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
  text-align: center;
}

.pref_random {
  background-color: #8bd877;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.548),
    rgba(255, 255, 255, 0)
  );
  border: 2px solid #02952b;
}

.repulse_random {
  background-color: #ff9999;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.548),
    rgba(255, 255, 255, 0)
  );
  border: 2px solid #ff6666;
}

.pref_random_image,
.repulse_random_image {
  border: #246cca98 groove 2px;
}

.pref_random_name,
.repulse_random_name {
  font-weight: bold;
  font-size: 0.9em;
}

/***********RESPONSIVE***********/

@media (max-width: 1080px) {
  .title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
