.container_header { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-style: italic;
}

.header_img {
    width: 3rem;
    margin: 1rem;
}

/***********RESPONSIVE***********/

@media (max-width: 1500px) {
    .container_header {
        margin-top: 1.5rem;
    }
}