
/******* MAP ********/

.map_random {
    gap: 10px;
    margin: 1rem 0 ;
    width: 100%;
}    
.map_cat {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.6em;
}

.map_img {
    max-height: 6.5rem;
}

/******* TRAIT TERRAIN ********/

.Terrains_random {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 1rem 0 ;
    width: 100%;
}

.Terrain_random {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 7rem;
}

.Terrain_random_name {
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
}

.Terrain_random_image {
    width: 50px;
    height: 50px;
    margin-top: 0.5rem;
}

/******* DEFI TERRAIN ********/

.defi_text {
    min-height: 9rem;
    display: flex;
    align-items: center;
}

span {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 0.3rem
}