@import url('https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap');


/* Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%; /* do not display:block for img! */
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li,
ul,
a
{
list-style: none;
padding: 0;
margin: 0;
text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: #f7f4ea;
  padding: 0 35rem;
  font-family: "K2D", sans-serif;
}  