/********** Presentation ***********/
.challenge_text {
    display: flex;
    flex-direction: column;
    margin: 2rem 0.5rem;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.challenge_text p {
    margin:0.5rem 0;
}

.challenge_intro {
    text-align: center;
    font-style: italic;
    color: #565857;
}

.challenge_intro_link {
    color: #565857;
    font-weight: bold;
    text-decoration: underline;
}


/********** CHALLENGE ***********/

.challenge_random {
    gap: 10px;
    margin: 4rem 0 ;
    
}

.challenge_cat {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.challenge_img {
    max-height: 6.5rem;
}

.challenge_name {
    font-weight: bold;
    font-size: 1.9em;
    text-align: center;
}

.challenge_link {
    text-align: center;
    margin: 4rem 0;
}

.challenge_name-author {
    color: #565857;
    font-style: italic;
    font-size: 1em;
}